{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {%if  request.path  == "/NewList/"  %}
        <h1 align="center" style="color:#e6676c;"> New List: </h1>
    {%else%}
        <h1 align="center"style="color:#e6676c;">Products in list: </h1>
    {%endif%}
<br>

<div class = "container">
  <form action="" method="POST">
    {% csrf_token%}
        <div class="center-align" style="background-color: #e3e3e3;   color: white;">
            {{form|crispy}}
        </div>
            <button class="waves-effect waves-light btn-small" type='submit' > Add</button>
  </form>
</div>

<div class="container">
    {%if  request.path  != "/NewList/"  %}
                {% for p in products %}
                    <div class="collection">
                      <form action="{%url 'delete'  p.id %}" method="POST">
                          {% csrf_token%}
                              <a class="collection-item" name="product" style="height: 50px;">
                                  <span class="badge">
                                      {{p.count}} items
                                      <button class="waves-effect waves-light btn-small" type='submit' style="margin-left:15px">Delete</button>
                                  </span>{{p.name}}
                              </a>
                            <input type="hidden" name="back" value = "{{request.path}}">
                      </form>
                    </div>
                {%endfor%}
    {%endif%}
</div>

{% endblock %}